{% extends 'base.html' %}
{% block content %}



<!--
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8L3KK8WK59RPS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<br>
<br>

<div id="paypal-button"></div>

<script>
    "use strict";
    paypal.Button.render({
    
        env: 'production', // Specify 'sandbox' for the test environment

        client: {
            //sandbox: '{{ client_id }}'
            production: 'AVIBus4HCMicmh3bELp0bV0_cwAseO_ESGtk9hhT_OS8mQaaQG6dSGjGfqHZqEHdDfr4kXtFOGjEoQzE'
        },


        payment: function() {
            // Set up the payment here, when the buyer clicks on the button
            var env    = this.props.env;
            var client = this.props.client;
        
            return paypal.rest.payment.create(env, client, {
                transactions: [
                    {
                        amount: { total: '1.00', currency: 'USD' }
                    }
                ]
            });
        },

        commit: true, // Optional: show a 'Pay Now' button in the checkout flow

        onAuthorize: function(data, actions) {
            // Execute the payment here, when the buyer approves the transaction

            return actions.payment.execute().then(function() {
                // Show a success page to the buyer
            });
       }
            
    }, '#paypal-button');
</script>
-->

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KQVGDWJD45YTW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>




{% endblock %}