{% extends 'base.html' %}
{% block content %}

  <h2> {{ rescue_info.name }} </h2>
  <br>
  <br>
  <img src= "/{{ rescue_info.img_url }}" alt="GPR" style="">
  <br>
  <br>
  Address: {{ rescue_info.address }}
  <br>
  <br>
  Email: {{ rescue_info.email}}
  <br>
  <br>
  Phone: {{ rescue_info.phone }}

  <h2> Adopt a Pet: </h2>
  {% for animal in available_animals %}
    {{ animal.name }}
    <br>
    <a href = "/rescue/{{rescue_info.rescue_id}}/animal/{{ animal.animal_id }}">
    <img alt="portrait" src = "/{{ animal.img_url }}">
    </a>
    <br>
  {% endfor %}

{% endblock %}