{% extends 'base.html' %}
{% block content %}

<h2> {{ rescue_info.name }} </h2>
<br>
<br>
<img src= "{{ rescue_info.img_url }}" alt="GPR" style="">
<br>
<br>
Address: {{ rescue_info.address }}
<br>
<br>
Email: {{ rescue_info.email}}
<br>
<br>
Phone: {{ rescue_info.phone }}

<!-- Add image of animal inside of a link, link leads to animal's info -->
<h2> Dogs: </h2>
{% for animal in animals %}
  {{ animal.name }}
  <br>
  <a href = "/rescues/{{rescue_info.rescue_id}}/animals/{{ animal.animal_id }}">
    <img alt="portrait" src = "{{ animal.img_url }}">
  </a>
  <br>
{% endfor %}

{% endblock %}